﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">من نحن</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>

<div class="pages navbar-through">
    <div data-page="about" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed;">
            <div class="align-center"> <img src="img/green-logo.png" style="width:50%;height:50%;" />  </div>
            <div class="content-block">
                <div>
                    <p style="text-align: justify;" id="lblapptext"></p>
                </div>
            </div>
        </div>
    </div>
</div>