﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">اضف اعلان</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>

<div class="pages navbar-through">
    <div data-page="addadvertise" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed; padding: 5px 15px;">
            <br>
            <input type="hidden" id="hdnId" value="0" />
            <br>
            <hr>
            <div class="row">
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(1);"><img src="img/add_photo.png" id="addimg1" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(2);"><img src="img/add_photo.png" id="addimg2" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(3);"><img src="img/add_photo.png" id="addimg3" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(4);"><img src="img/add_photo.png" id="addimg4" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(5);"><img src="img/add_photo.png" id="addimg5" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(6);"><img src="img/add_photo.png" id="addimg6" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(7);"><img src="img/add_photo.png" id="addimg7" style="width:50%;height:50%" /> </a> </div>
                <div class="col-25 align-center"><a href="#" onclick="chooseImg(8);"><img src="img/add_photo.png" id="addimg8" style="width:50%;height:50%" /> </a> </div>
            </div>

            <div class="list-block">
                <ul>
                    <li>
                        <a href="city.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">اختار المنطقه او المدينة</div>
                                <div class="item-after" id="lbladdcity"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="categorya.html" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title">اختار القسم الرئيسي والفرعي</div>
                                <div class="item-after" id="lbladdcategory"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="" placeholder="اضف عنوان الاعلان" id="txtaddtitle" onkeyup="saveValues(this)">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="number" name="" placeholder="اضف السعر" id="txtaddprice" onkeyup="saveValues(this)">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"> الموبايل</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox" id="chkadd" checked="checked" onchange="saveValues(this)">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <textarea placeholder="تفاصيل الاعلان" id="txtadddetails" onkeyup="saveValues(this)"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="forcars" style="display:none">
                    <ul>
                        <li>
                            <a href="status.html" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">اختار حالة السيارة</div>
                                    <div class="item-after" id="lbladdstatus"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="number" name="" placeholder="العداد" id="txtaddcounter" onkeyup="saveValues(this)">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="number" name="" placeholder="الموديل" id="txtaddmodel" onkeyup="saveValues(this)">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name="" placeholder="اللون الداخلي" id="txtaddincolor" onkeyup="saveValues(this)">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name="" placeholder="اللون الخارجي" id="txtaddoutcolor" onkeyup="saveValues(this)">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--add button here-->
                <br>
                <ul>
                    <li>
                        <a href="#" class="item-link list-button" id="btnaddadvertise" style="background-color: grey; color: white; height: 80px; line-height: 60px;">اضف اعلانك</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    
</div>