<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">
            <div class="item-input">
                <input type="text" placeholder="البحث" id="txtsearchadv" onkeyup="seachStrring()" />
            </div>
        </div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="advertise" class="page">
        <div class="page-content infinite-scroll" data-distance="100" style="background: url(img/homebackground.png) no-repeat center center fixed;">
            <div class="scrollmenu">



            </div>
            <div class="row subcategory-list" id="divcarditems">

            </div>
            <!-- Preloader -->
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>