<p style="font-size:20px; text-align: center;">الاعلانات المثبتة و البنرات و العروض</p>
    
    <style>
    
    div[class*="col-"] {
  background: #fff;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
  padding: 5px;
}
.row {
  margin-bottom: 15px;
}       
</style>


      <div style="padding: 5px 15px; background-color: white;">
      <p><a href="#" class="button button-fill" style="background-color: #e0bd33; font-size: 20px;">الباقة الذهبية</a></p>

        <div class="page-content"> 
      <div class="row no-gutter">

        <div class="col-50" style="direction: rtl;"><span style="color: green;"><strong>12 </strong></span>شهر</div>
        <div class="col-50" style="direction: rtl;"><span style="color: green;"><strong>100 </strong></span>اعلان</div>
   
        <div class="col-50" style="direction: rtl; border: none;"><span style="color: green;"><strong>320 </strong></span>ر.س</div>
        <div class="col-50" style="direction: rtl; border-color: green;"><span style="color: green;">اختر</span></div>
      </div>
</div>
</div>

<br>
<br>


<div style="padding: 5px 15px; background-color: white;">
      <p><a href="#" class="button button-fill" style="background-color: grey; font-size: 20px;">الباقة الفضية</a></p>

        <div class="page-content"> 
      <div class="row no-gutter">

        <div class="col-50" style="direction: rtl;"><span style="color: green;"><strong>12 </strong></span>شهر</div>
        <div class="col-50" style="direction: rtl;"><span style="color: green;"><strong>30 </strong></span>اعلان</div>

        <div class="col-50" style="direction: rtl; border: none;"><span style="color: green;"><strong>140 </strong></span>ر.س</div>
        <div class="col-50" style="direction: rtl; border-color: green;"><span style="color: green;">اختر</span></div>
      </div>
</div>
</div>