﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">االقسم الفرعي</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>
<div class="pages navbar-through">
    <div data-page="categoryb" class="page">
        <div class="page-content">
            <div class="list-block">
                <ul id="ulselectCatb">
                    
                </ul>
            </div>
        </div>
    </div>
</div>
