﻿r<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">تفعيل</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>
<div class="pages navbar-through">
    <div data-page="confirm" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed; padding: 5px 15px;">

            <br>
            <br>
            <br>

            <form>
                <!-- <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="" id="signcodetxt" placeholder="كود التفعيل ">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block">
                    <ul>
                        <li><a href="#" class="item-link list-button" id="signcodebtn">تفعيل</a></li>
                    </ul>
                </div> -->

                <br>
                <br>

                <div>

                    <p style="font-size:20px; text-align: center;">ادخل كود التفعيل المرسل الى هاتفك</p>

                    <div class="item-input">
                        <!-- Make sure that input have "name attrobute" -->
                        <input style="width: 100%; border: none; font-size: 20px; direction: rtl;" type="number" name="code" id="signcodetxt" placeholder="كود التفعيل">
                    </div>

                    <br>

                    <p><a href="#" id="signcodebtn" class="button button-fill" style="font-size: 20px; background-color: #339966; height: 48px; line-height: 40px;">تفعيل</a></p>

                    <p><a href="#" class="button button-fill" style="font-size: 20px; background-color: grey; height: 48px; line-height: 40px;">اعادة ارسال كود التفعيل</a></p>

                    <br>

                    <p style="font-size:20px; text-align: center; color: green;"><a href="register.html">تغيير رقم الموبايل</a></p>

                </div>
            </form>
        </div>
    </div>
</div>