﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">اتصل بنا</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>
<div class="pages navbar-through">
    <div data-page="contact" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed; padding: 5px 15px;">

            <div class="list-block">

                <br>
                <br>

                <div style="text-align: center; background-color: white;">

                    <div class="row no-gutter">
                        <div class="col-25" style="color: green;"><strong>تلفون:</strong></div>
                        <div class="col-25">88888888</div>
                        <div class="col-25">-</div>
                        <div class="col-25">88888888</div>
                    </div>
                    <br>
                    <div class="row no-gutter">
                        <div class="col-25" style="color: green;"><strong>موبايل:</strong></div>
                        <div class="col-25">88888888</div>
                        <div class="col-25"></div>
                        <div class="col-25"></div>
                    </div>
                    <br>
                    <div class="row no-gutter">
                        <div class="col-25" style="color: green;"><strong>ايميل:</strong></div>
                        <div class="col-25">info@4ksa.com</div>
                        <div class="col-25"></div>
                        <div class="col-25"></div>
                    </div>

                </div>

                <br>
                <br>

                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="" placeholder="البريد الالكترونى" id="txtmail" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" name="" placeholder="عنوان الرسالة" id="txtsubject" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <textarea placeholder="نص الرسالة" id="txtmsg"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr>
                <!--add button here-->
                <ul>
                    <li>
                        <a href="#" class="item-link list-button" id="btncontactsend" style="background-color: #339966; color: white;"> ارسال</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
