﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="right">
            <a href="#" class="share link" onclick="ShareAdvertise();"><i class="fa fa-share-alt" style="margin-right: 20px; font-size: 17px; color: white;"></i></a>
        </div>

        <div class="center" style="margin-right: 50px;"><img src="img/topBar_logo_white.png" class="nav-logo" /></div>

        <div class="center">
            <a href="#" class="fav link cssdetails" onclick="AddRemoveFavorites(1);"><i class="fa fa-star-o" style="margin-left: 80px;"></i></a>
        </div>

        <div class="center">
            <a href="#" class="flag link cssdetails" onclick="AddRemoveReports(1);"><i class="fa fa-flag-o" style="margin-left: 50px;"></i></a>
        </div>

        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="details" class="page">
        <div class="page-content">

            <div class="swiper-container swiper-2" style="margin-top:0px;">

                <div class="swiper-wrapper">


                    <div class="swiper-slide" style="background: url(img/car1.jpg) no-repeat center center  ;background-size: 100% 100%;"><span></span></div>
                    <div class="swiper-slide" style="background: url(img/car2.jpg) no-repeat center center  ;background-size: 100% 100%;"><span></span></div>
                    <div class="swiper-slide" style="background: url(img/car3.jpg) no-repeat center center  ;background-size: 100% 100%;"><span></span></div>
                </div>

                <div class="swiper-pagination"></div>
            </div>

            <!--  <div class="row">
                 <div class="col-33"></div>
                 <div class="col-33"></div>
                 <div class="col-33"><span id="lblprice"></span> ر.س</div>
             </div> -->

            <div>


                <div class="row" style="background-color: #ecf0f1; height: 25px; text-align: center;">
                    <div class="col-50"><span id="lblviews"></span> مشاهدة</div>
                    <div class="col-50"><span id="lbldate" ;"></span> </div>
                </div>

                <hr>

                <div class="row" style="border-bottom: 1px solid lightgrey; text-align: center;">
                    <div class="col-50"><span id="lblmobile" style="color: #339966;"></span></div>
                    <div class="col-50"><span id="lblcity"></span></div>
                </div>

                <br>

                <div class="content-block-title" id="lbltitle" style="padding: 5px 15px;"></div>
                <div class="content-block">
                    <p id="lbldesc"></p>
                </div>

                <div class="data-table card" id="tblvehcals" style="display:none; border: groove;">
                    <table>
                        <tbody style="text-align: center; float: right;">

                            <tr>
                                <td style="background-color: #ecf0f1;">العداد</td>
                                <td><span id="lblcounter"></span> ك.م</td>
                            </tr>

                            <tr>
                                <td style="background-color: #ecf0f1;">الموديل</td>
                                <td><span id="lblmodel"></span></td>
                            </tr>

                            <tr>
                                <td style="background-color: #ecf0f1;">الحالة</td>
                                <td><span id="lblcondition"></span></td>
                            </tr>
                            <tr>
                                <td style="background-color: #ecf0f1;">اللون الدخلي</td>
                                <td><span id="lblincolor"></span></td>
                            </tr>
                            <tr>
                                <td style="background-color: #ecf0f1;">اللون الخارجي</td>
                                <td><span id="lbloutcolor"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-10">

                    </div>
                    <div class="col-80">
                        <p class="buttons-row">
                            <a href="#" onclick="CallNumber(this)" data-number="" class="button button-big button-fill" id="lnktel" style="background-color: #339966"><i class="fa fa-phone"></i> اتصال</a>
                            <a href="#" onclick="app.sendSms()" class="button button-big button-fill" id="lnkmessage" style="background-color: #eaa31b;"><i class="fa fa-envelope"></i> رسالة</a>
                        </p>
                    </div>
                    <div class="col-10">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>