﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">ملفي الشخصي</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>
<div class="pages navbar-through">
    <div data-page="editprofile" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed; padding: 5px 15px;">
        
<br>
<br>
<br>

            <div class="list-block">
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <select id="editregisterkey" style="width: 70px;">
                                            <option value="+966" style="font-size: 10px;">+966</option>
                                            <option value="+965" style="font-size: 10px;">+965</option>
                                        </select>
                                    </div>
                                    <div class="item-input">
                                        <input type="text" name="mobile" id="editmobile"  placeholder="رقم الموبايل">
                                    </div>
                                </div>
                            </li>
                        </ul>
<br>
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name="" id="editname" placeholder=" اسم المستخدم">
                                    </div>
                                </div>
                            </li>
                        </ul>
<br>
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" name="" id="editpassword" placeholder="********">
                                    </div>
                                </div>
                            </li>
                        </ul>
<br>
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" name="" id="editemail" placeholder=" البريد الالكتروني ">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
<hr>
                <!--add button here-->
                <ul>
                    <li>
                        <a href="#" class="item-link list-button" id="btneditprofile" style="background-color: #339966; color: white;">حفظ </a>
                    </li>
                </ul>
                </div>

            </div>
        </div>
    </div>
