
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center" style="margin-right: 70px;"><img src="img/topBar_logo_white.png" class="nav-logo"/></div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="home" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed;">
            <div class="swiper-container swiper-1" style="margin-top:0px;">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">

                </div>
            </div>
            <div class="row" style="text-align: center;" id="divcategorya">

            </div>
        </div>
    </div>
</div>