﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">تسجيل</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</div>


<div class="pages navbar-through">
    <div data-page="login" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed; padding: 5px 15px;">

            <br>
            <br>
            <br>
            <br>

            <form>
                <div class="list-block">

                    <ul>
                        <li class="item-content" style="border:1px solid white; border-radius: 5px; padding-right: 0px;">



                                <div  style="width: 80px;background:url(img/dropdown.png) no-repeat; background-size:95px ">
                                    <select class="dropdown" id="ddlregisterkey" style="width: 70px;margin-left:5px;padding:10px; ">
                                        <option value="+966" style="font-size: 10px;">966+</option>
                                        <option value="+965" style="font-size: 10px;">965+</option>
                                    </select>
                                </div>
                                
                                    <div class="item-input">
                                            <input type="number" name="mobile" id="txtlogmobile" placeholder="رقم الموبايل" >
                                        
                                    </div>
                           
                        </li>
                    </ul>
                    
                    <hr>

                    <ul>
                        <li class="item-content" style="border:1px solid white; border-radius: 5px">
                            <div class="item-inner">

                                <div class="item-input">
                                    <input type="password" name="password" id="txtlogpass" placeholder="كلمة المرور">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <br>
                    <p style="text-align: center; font-size: 15px;">
                        بتسجيلك معنا أنت موافق على
                        <span style="color: green;">الشروط و الاحكام</span>
                    </p>

                    <div class="list-block">
                        <ul>
                            <li><a href="#" class="item-link list-button" id="loginBtn" style="background-color: #339966; color: white; border:1px solid white; border-radius: 5px;">دخول</a></li>
                        </ul>
                        <br>
                        <div class="list-block-label">
                            <p><a href="register.html" class="item-link list-button" style="color: #339966; font-size: 17px; ">تسجيل معنا</a></p>
                        </div>
                    </div>
      <!--    <img src="img/slector.png" style="height: 40px ;width: 80px"> -->
            </form>
        </div>
    </div>
</div>