﻿
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">المزيد</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>

<div class="pages navbar-through">
    <div data-page="more" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed; padding: 5px 15px;">
            <div class="list-block">

                <br>

                <ul>
                    <li>
                        <a href="about.html" class="item-link">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-info-circle" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">من نحن</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="contact.html" class="item-link">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-phone" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">اتصل بنا </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="#" class="item-link" onclick="ShareSocial();">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-share-alt" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">مشاركة التطبيق  </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="#" class="item-link" data-link="https://twitter.com/4KsaApp" onclick="openBrowser(this);">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-twitter" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">4KsaApp@</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="#" class="item-link" data-link="https://www.instagram.com/4KsaApp" onclick="openBrowser(this);">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-instagram" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">4KsaApp@</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="#" class="item-link" data-link="https://www.youtube.com/4KsaApp" onclick="openBrowser(this);">
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-youtube" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">4KsaApp@</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <hr>
                <ul>
                    <li>
                        <a href="rating.html" class="item-link" >
                            <div class="item-content">
                                <div class="item-media"><i class="fa fa-star-o" style="color: green;"></i></div>
                                <div class="item-inner">
                                    <div class="item-title" style="font-size: 18px;">تقييم التطبيق  </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>