
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">العروض</div>
        <div class="right">
             <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>
<div class="pages navbar-through">
    <div data-page="offers" class="page">
        <div class="page-content">


        
        <div class="scrollmenu" id="divoffersFilter" >     
        <span class="text1">كروز</span>
        <img class="img-valign" style="margin-bottom: 3px;" src="img/dots.png" alt=""/>
        &nbsp;
        <span class="text1">لومينا</span>
        <img class="img-valign" style="margin-bottom: 3px;"  src="img/dots.png" alt="" />
        &nbsp;
        <span class="text1">تاهو</span>
        <img class="img-valign" style="margin-bottom: 3px;"  src="img/dots.png" alt="" />
        &nbsp;
        <span class="text1">كابرس</span>
        <img class="img-valign" style="margin-bottom: 3px;"  src="img/dots.png" alt="" />
        &nbsp;
        <span class="text1">لومينا</span>
        <img class="img-valign" style="margin-bottom: 3px;"  src="img/dots.png" alt="" />
        &nbsp;
        <span class="text1">تاهو</span>
        <img class="img-valign" style="margin-bottom: 3px;"  src="img/dots.png" alt="" />
        &nbsp;
        <span class="text1">الكل</span>
        <img class="img-valign" style="margin-bottom: 3px;"  src="img/dots.png" alt="" />
      </div>
      
      <hr>
            <div class="row" id="divalloffers">
    

            </div>
        </div>
    </div>
</div>