﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">العروض</div>
        <div class="right">
             <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>

<div class="pages navbar-through">
    <div data-page="offersImage" class="page">
    
        <div class="page-content align-center" id="divofferimg" style="padding: 0px; height: 90%;">

        </div>

    </div>

</div>