﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="index.html" class="back link"><i class="fa fa-chevron-left"></i></a></div>
        <div class="center">الباقات</div>
        <div class="right"><a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="plan" class="page">
        <div class="page-content">
            <div class="row">
                <div class="col-5"></div>
                <div class="col-90" id="divplanitems">
                    
                </div>
                <div class="col-5"></div>
            </div>
        </div>
    </div>
</div>