﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">التقيم</div>
        <div class="right">
            <a href="more.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>
<div class="pages navbar-through">
    <div data-page="rating" class="page">
        <div class="page-content">
            <div class="rating " style="text-align:center !important;font-size:60px">
                <span data-id="1" onclick="RateApp(this);"><i class="fa fa-star-o"></i></span ><span data-id="2" onclick="RateApp(this);"><i class="fa fa-star-o"></i></span><span data-id="3" onclick="RateApp(this);"><i class="fa fa-star-o"></i></span><span data-id="4" onclick="RateApp(this);"><i class="fa fa-star-o"></i></span><span data-id="5" onclick="RateApp(this);"><i class="fa fa-star-o"></i></span>
            </div>
        </div>
    </div>
</div>