
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>
        <div class="center"><img src="img/topBar_logo_white.png" class="nav-logo" /></div>
        <div class="right">
            <a href="index.html" class="back link"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="slider" class="page">
        <div class="page-content">
            <!-- Slider -->
            <div class="swiper-container" style="height:100%;margin-top:0px;overflow-y:hidden;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><span>Slide 1</span></div>
                    <div class="swiper-slide"><span>Slide 2</span></div>
                    <div class="swiper-slide"><span>Slide 3</span></div>
                    <div class="swiper-slide"><span>Slide 4</span></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>