﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left sliding"><a href="index.html" class="back link"><i class="fa fa-chevron-left"></i></a></div>
        <div class="center sliding">الحالة</div>
        <div class="right"><a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a></div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="status" class="page">
        <div class="page-content">
            <div class="list-block">
                <ul id="ulselectstatus">
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title" data-id="1" data-name="مستعمل" onclick="SelectStatus(this);">مستعمل</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title" data-id="2" data-name="جديد" onclick="SelectStatus(this);">جديد</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
