<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">محركات</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>  
</div>

<div class="pages navbar-through">
    <div data-page="subcategory" class="page">
        <div class="page-content" style="background: url(img/homebackground.png) no-repeat center center fixed;">
            <div class="subcategory-list">
                <div class="row" id="divcategoryb" style="padding-top: 10px;">

                </div>
            </div>
        </div>
    </div>
</div>