﻿<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="open-panel link icon-only"><i class="fa fa-bars"></i></a>
        </div>

        <div class="center">عرض اليوم</div>
        <div class="right">
            <a href="index.html" class="back link" style="width: 25px;"><i class="fa fa-chevron-left"></i></a>
        </div>
    </div>
</div>
<div class="pages navbar-through">
    <div data-page="todayoffer" class="page">
        <div class="page-content">
            <div class="swiper-custom">
                <!-- Slider -->
                <div class="swiper-container" style="height:100%;margin-top:0px;overflow-y:hidden; margin-bottom: 20px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><span>Slide 1</span></div>
                        <div class="swiper-slide"><span>Slide 2</span></div>
                        <div class="swiper-slide"><span>Slide 3</span></div>
                        <div class="swiper-slide"><span>Slide 4</span></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</div>