.navbar {
    background: #339966 !important;
    color: #FFF;
}

    .navbar a {
        color: #FFF !important;
    }

    .navbar > i {
        color: #FFF !important;
    }

.nav-logo {
    width: 50%;
    height: 50%;
    text-align: center;
}

.swiper-slide {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

    .swiper-slide span {
        text-align: center;
        display: block;
        margin: 0px;
        margin-top: 0px;
        font-size: 21px;
    }

.swiper-container {
    height: 200px;
}

.category-item {
    width: 50%;
    height: 50%;
}

.align-center {
    text-align: center !important;
}

.category-text {
    font-weight: bold;
    display: block;
    text-align: center !important;
}
/*.subcategory-list {
margin-top:3% !important;
}*/
.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}

.infinite-scroll-preloader {
    margin-top: -20px;
    margin-bottom: 10px;
    text-align: center;
}

    .infinite-scroll-preloader .preloader {
        width: 34px;
        height: 34px;
    }

/*.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

        .rating > span:hover:before,
        .rating > span:hover ~ span:before {
            content: "\2605";
            position: absolute;
        }

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}*/

    /*.rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";position: absolute;
    }*/

    /*.rating > span:hover:before {
        content: "\2605";
        position: absolute;
    }*/

