hr{
	border: none;
}
*{
	border: none;
}
.tabbar a.active{
	color: #339966;
}
.navbar-inner {
	font-size: 25px !important;
}
#divcategorya{
	margin-top: 10px;
	margin-bottom: 20px;
}
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}